{% extends "admin/change_form.html" %}
{% block content1 %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block object-tools %}{% endblock %}

{% block content %}
    <h1>{{ form.form_name }}</h1>
<div id="content-main">
    <form action="" method="post">
        {% csrf_token %}
        <div>
        <fieldset class="module aligned {{ fieldset.classes }}">

        {% if errors %}
            {{ form.non_field_errors }}
        {% endif %}

        {% block field_sets %}
        {% for field in form %}
                <div class="form-row"><div class="{% if field.errors %} errors{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div></div>
        {% endfor %}
        {% endblock %}

        </fieldset>

        {% block submit_buttons_bottom %}<div class="submit-row"><input type="submit" value="Save" class="default" name="_save" style="float: left"></div>{% endblock %}

        </div>
    </form>
</div>
{% endblock %}
